<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".shtml" />
            <remove fileExtension=".shtm" />
            <mimeMap fileExtension=".less" mimeType="text/css" />
            <mimeMap fileExtension=".json" mimeType="application/json" />

        </staticContent>
    </system.webServer>
</configuration>
